/* img {
    width: 400px;
} */

.fit-image{
    width: 100%;
    /* width: 250px; */
    object-fit: cover;
    height: 300px; /* only if you want fixed height */
}

.header {
    padding-top: 50px;
    padding-left: 10px;
}

.headlinesText {
    padding-top: 20px;
}

.details {
    padding-left: 10px;
}

.navbar-brand {
    padding-left: 10px;
}