body {
    background-color: white;
    margin-left: 3rem;
    margin-top: 3rem;
    margin-right: 2rem;
    
}

#backArrow {
    width: 30px;
    color: black;
    
}
  
.websiteCopy {
    color: black;
    font-size: 2rem;
    /* max-width: 60%;
    min-width: 400px; */
}